{{>partials/head}}
    <h2>Qual seu nome?</h2>
    <form method="post" action="nome-resultado">
        <input type="text" name="nome"><br>
        <input type="submit" value="Enviar">
    </form>

    {{#nome}}
        <hr>
        Bem vindo {{.}}
        <hr>
    {{/nome}}
{{>partials/footer}}